<header class="top__header">
    <div class="container">
        <nav>
            <div class="shipping__text">
                <h5>Free shiping for orders over 50$</h5>
            </div>
            <ul>
                <li>
                    <a href="#twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#dribbble">
                        <i class="fas fa-basketball-ball"></i>
                    </a>
                </li> 
            </ul>
        </nav>
    </div>
</header>
<section>
    <div class="container">
        <div class="nav-wrapper">
            <div class="nav">
                <div class="logo">
                    <img src="/assets/logo.png" alt="#logo">
                </div>
                <ul class="nav__list">
                    <li><a>Home</a></li>
                    <li><a>About</a></li>
                    <li><a href="#footer-contact">Contact</a></li>
                </ul>
            </div>
            <ul class="btns">
                <li>
                    <a routerLink = "default">
                        <i class="fas fa-user-cog"></i>
                    </a>
                    <span class="text">Login to Admin Dashboard</span>
                </li>
            </ul>
        </div>
    </div>
</section>

