<section class="user__details pad">
    <div class="container">
        <h2>
            <mat-icon>face</mat-icon>
            User Details Page 
        </h2>
        <div class="user__list__wrapper">
            <div class="user__info">
                <div class="user__info__img">
                    <img src="/assets/mindset.png" alt="#mindset">
                </div>
                <div class="user__info__text">
                    <p> Username: <span> {{ user.name}} </span></p>
                    <p> User Email:  <span> {{ user.email}} </span></p>
                    <p> User Address: <span> {{ user.address}} </span></p>
                </div>
            </div>
        </div>
    </div>
</section>
